In [1]:
#print 0 to 20 by using range
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
# print range 10 to 20
for num in range(10,20):
    print(num,end=' ')

10 11 12 13 14 15 16 17 18 19

In [3]:
# print number of items in the list by using 'len'
list1=[10,20,14,55,43,87,76]
print('Number of items in list1:',len(list1))

Number of items in list1: 7

In [4]:
#print character of string verticaly
str=input('Enter the string:')
for letter in str:
    print(letter)

Enter the string: Artificial Intelligence

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [5]:
name=input('-Your Name-')
age=input('-Your age-')
profession=input('-Your Profession-')

-Your Name- Baradhan
-Your age- 27
-Your Profession- AI Engineer

In [6]:
#print these mixered datatype using Tuples
tup=(1,'Welcome',2,'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [7]:
tuple1=(0,1,2,3)
tuple2=('python','HOPE')
print(f'({tuple1} {tuple2})')

((0, 1, 2, 3) ('python', 'HOPE'))

In [8]:
#print Odd numbers in the list
list1=[20,10,16,19,25,1,276,188]
print(list1)
for num in list1:
    if num%2==1 :
        print(f'{num} is odd')

[20, 10, 16, 19, 25, 1, 276, 188]
19 is odd
25 is odd
1 is odd

In [9]:
#print Even numbers in the list
list1=[20,10,16,19,25,1,276,188]
print(list1)
for num in list1:
    if num%2==0 :
        print(f'{num} is even')

[20, 10, 16, 19, 25, 1, 276, 188]
20 is even
10 is even
16 is even
276 is even
188 is even